{
    "name": "{{vendor}}/{{name}}",
    "description": "{{Name}} module for Marko",
    "license": "MIT",
    "type": "marko-module",
    "require": {
        "php": "^8.5",
        "marko/core": "^1.0",
        "marko/config": "^1.0"
    },
    "require-dev": {
        "marko/testing": "^1.0",
        "pestphp/pest": "^4.0"
    },
    "autoload": {
        "psr-4": {
            "{{Vendor}}\\{{Name}}\\": "src/"
        }
    },
    "autoload-dev": {
        "psr-4": {
            "{{Vendor}}\\{{Name}}\\Tests\\": "tests/"
        }
    },
    "config": {
        "allow-plugins": {
            "pestphp/pest-plugin": true
        }
    },
    "extra": {
        "marko": {
            "module": true
        }
    }
}
